#theme.dark-theme {
    .main-container {
      background-color: $darkWorkplaceColor;
    }

    ::v-deep .header-section-container {
      background-color: $darkPanelsBackground;

      button,
      p {
        color: $darkFontColor;
      }

      button:hover,
      p:hover {
        background: $darkHoverColor;
      }
    }

    ::v-deep .tools-section {
      background-color: $darkPanelsBackground;

      i {
        color: $darkFontColor;
      }

      .button-container:hover {
        background: $darkHoverColor;
      }
    }

    ::v-deep .edit-sidebar-section {
      background-color: $darkPanelsBackground;

      button,
      i,
      p {
        color: $darkFontColor;
      }

      .horizontal-positioning:hover,
      .align-text-button:hover {
        background: $darkHoverColor;
      }

      .active {
        background: $darkActiveBtnColor;
      }
    }

    ::v-deep .new-project-modal-container {
      background: $darkPanelsBackground;

      button {
        color: $darkFontColor;
      }
      .v-input__slot {
        background: $darkPanelsBackground !important;

        .v-label,
        #input-9 {
          color: $darkFontColor;
        }
      }

      button {
        background: $darkPanelsBackground;

        &.isActive {
          background: $darkActiveBtnColor !important;
        }
      }
    }

    ::v-deep .row {
      border: none;

      .v-expansion-panel-header,
      .v-expansion-panel-content {
        background: $darkPanelsBackground;
      }
    }

    ::v-deep .input-style {
      color: $darkFontColor;

      &::placeholder {
        color: $darkFontColor;
      }
    }

    ::v-deep .dropdown .v-input__slot {
      .v-list-item__title,
      .v-select__selection {
        color: $darkFontColor;
      }
    }

    ::v-deep .v-list {
      background: $darkPanelsBackground;
      &-item__title {
        color: $darkFontColor;
      }
    }

    ::v-deep .v-color-picker {
      background: $darkPanelsBackground;

      span,
      input {
        color: $darkFontColor;
      }
    }

    ::v-deep select {
      background: $darkPanelsBackground;
      color: $darkFontColor;
    }

    ::v-deep .color-generator {
      background: $darkPanelsBackground;

      .v-color-picker__controls,
      .v-input--radio-group--column,
      .slider .v-input__control,
      .v-application--wrap,
      .mdi-radiobox-blank {
        background: $darkPanelsBackground;
        color: $darkFontColor;
      }
    }
  }