//colors

//light theme
$mainFontColor: #3f3f3f;
$containerBackground: #e1e1e1;
$hoverColor: #dadada;

//dark-theme
$darkWorkplaceColor: #232735;
$darkPanelsBackground: #2c2f3b;
$darkHoverColor: #3a3c48;
$darkActiveBtnColor: #394157;
$darkFontColor: #acacac;

$itemActive: #e64777;

//shadow
$mainShadow: 0px 3px 5px 0px rgba(0,0,0,0.12);

